{% extends "main.html" %}
{% block content %}
<div class="content">
  <h2>New Item</h2>
  <hr>
  <form action="#" method = "post">
		<div>
			<label class="formLabel" for="name">Name:</label>
			<input type ="text" maxlength="100" name="name">
      </br>
			<label class="formLabel" for="description">Description:</label>
			<input type ="text" maxlength="100" name="description">
      </br>
			<label class="formLabel" for="price">Price:</label>
			<input type ="text" maxlength="10" name="price">
			<button type="submit"id="submit" type="submit">Add</button>
			<a href = '{{url_for('showItems', category_id=category.id)}}'>
        <button type="button">Cancel</button>
      </a>
		</div>
	</form>
</div>
{% endblock %}
